@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,600;1,900&display=swap');
@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}
* {
  box-sizing: border-box;
}

html,
body,
#root,
#main {
  width: 100vw;
  height: 100vh;
  /* background-color: transparent; */
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  user-select: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar {
  display: none;
}

#leva__root{
  display: none;
}

body {
  background-color: #000000;
  font-family: 'Inter', sans-serif;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

canvas {
  z-index: 1000;
  opacity: 0;
  /* width:50vw; */
  /* touch-action: none; */
  animation: fade-in 4s ease 1s forwards;
}

.section--container {
  margin-top: 10vh;
  margin-left: 20%;
}

.section--container h1 {
  font-weight: 900;
  font-size: 9rem;
  letter-spacing: -4px;
  color: #ffffff;
  font-style: italic;
  width: 40%;
  line-height: 8rem;
  font-family: 'Nunito Sans', sans-serif;
}

.support--content {
  position: relative;
  margin-top: 30%;
  left: 0vh;
  animation: fade-in 2s ease 0.3s forwards;
}

.support--content p {

  width: 550px;
  color: #f8e8e8;
  line-height: 1.5rem;
}

@media screen and (max-width: 550px) {
  
  .section--container {
    margin-top: 0vh;
    width: 100%;
    margin-left: 0%;
  }

  .section--container h1 {
    font-size: 4rem; 
    margin-left: 10%;
    line-height: 4rem;
  }
  
  .support--content {
  position: relative;
  padding-top: 55%;
  left: 10%;
  animation: fade-in 2s ease 0.3s forwards;
}
}

